input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    /*padding-left: 0.2em;*/
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

/*modifica el chequeo de la caractristica en las asignaciones*/
input[type=checkbox]:checked + label:before {
    background-color: rgb(85, 155, 74);
    border-color: MediumSeaGreen;
    color: rgb(255, 255, 255);
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

.line-height-report {
    line-height: 1.7rem;
}
/*modifica los modulos del inicio*/
.over-block-card:hover {
    transform: scale(1.1);
    z-index: 9;
}
/*modifica el bloque de cada reporte*/
.report-text-block {
    font-size: .9rem;
}
/*modifica el recuadro de cada actividad en las asignaciones*/
.badge-light-gray {
    color: #000000;
    background-color: #d3d3d3;
    letter-spacing: 0.5px;
    font-size: .7rem;
    font-weight: 600;
    text-transform: initial;
}
/*barra de rango de fechas en asignaciones*/
.form-date-input {
    border: 1px solid #4e5a4e;
    box-shadow: inset 0px 0px 5px rgba(107, 102, 102, 0.25) !important;
}
/*modifica contenedor de la primera actividad del diagrama de Gantt*/
.ganttview-vtheader-item .ganttview-vtheader-series-name:first-child {
    border: solid 1px #000000 !important;
    font-size: .8rem !important;
    font-weight: 600;
}
/*modifica el contenedor del campo de ejecución*/
div.ganttview-vtheader-series-name {
    cursor: pointer;
    font-size: .7rem !important;
    width: 199px !important;
    border: 1px solid #000000 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px !important;
    line-height: 35px;
}
/*modifica el bloque que contiene el diagrama*/
div.ganttview-block-container {
    height: 35px !important;
    padding: 0 !important;
    z-index: 1;
}
/*modifica el contenedor de cada día*/
div.ganttview-hzheader-day {
    width: 21px !important;
    font-size: .70rem !important;
    font-weight: 600 !important;
    height: 20px;
}
/*modifica el contenedor del diagrama de gantt*/
div.ganttview-vtheader {
    width: 300px !important;
}
/*modifica la cuadricula de la semana*/
div.ganttview-grid-row-cell{
    z-index: 2;
    width:  21px;
    height: 35px;
    border-color:rgb(0, 0, 0);
}
/*modifica los cuadros de los fines de semana*/
div.ganttview-grid-row-cell.ganttview-weekend{
    background-color: #9a9a9a;
    border-color:rgb(0, 0, 0);
}
/*modifica dentro del diagrama de gantt los textos numericos*/
div.ganttview-block-text {
    background: rgba(255, 255, 255, 0.21);
    height: auto !important;
    min-width: 20px;
    color: #4600a2;
    font-weight: 700;
    font-size: 10px;
    border-radius: 15px;
    text-align: center;
    margin: 2px 2px 2px 3px;
}
/* revisar que modifica este css*/
div.ganttview {
    border: 0px solid #1aff00 !important;
}
/*contenedor del diagrama de gantt y cuadricula*/
div.ganttview-slide-container {
    width: 900px !important;
    border: 1px solid rgb(0, 0, 0) !important;
}
/*contenedor del texto de los proyectos */
div.ganttview-vtheader-item-name {
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    line-height: 50px;
    font-size: 14px;
    font-weight: 650;

}
/*modifica el icono del color en las actividades*/
.pointer-color {
    background-color: rgb(0, 0, 0);
    width: 10px;
    height: 5px;
    border-radius: .100rem;
}
/*modifica barras del diagrama de gantt*/
div.ganttview-block {

    box-shadow: 0 2px 2px rgba(113, 112, 112, 0.23);
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer !important;
}
/* revisar que modifica este css*/
div.ganttview-block:hover {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    box-shadow: 0 2px 5px rgba(108, 115, 110, 0.6) !important;
}
/* revisar que modifica este css*/
.ganttview-vtheader-series .ganttview-vtheader-series-name:nth-child(2n) {
    border-left: solid 1px #00d0ff;
}
/*barra identificador del día presente*/
.current_day:before {
    content: "";
    position: absolute;
    background: rgba(240, 12, 57, 0.5);
    height: var(--width_all);
    z-index: 9;
    width: 15px;
}
/*modifica la linea de ejecución*/
.timeline-line {
    height: 3px !important;
    box-shadow: 0 0 0 !important;
    background-color: rgb(0, 0, 0) !important
}
/*modifica el icono de la linea de ejecución*/
.ganttview-block.timeline-line:before {
    content: "\f11e";
    position: absolute;
    right: 0;
    font-size: 12px;
    margin-top: -13px;
    margin-right: -10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.footer-section-chart{
    display: none;
    background: #f3aa00;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    left: 0;
    z-index: 9;
    padding: .5rem;
    color: rgb(255, 0, 0);
    font-weight: 500;
}
.trix-content {
    min-height: 12rem;
}
.opacity-full:hover{
    opacity: 1 !important;
}

.row-danger-border{
    background: rgba(244, 67, 54, 0.05);
    border-left: solid 2px #F44336;
}

.row-warning-border{
    background: rgba(255, 152, 0, 0.08);
    border-left: solid 2px #f4dd08;
}
